@model IEnumerable<FPTBook.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="" style="display:flex; flex-direction-row; gap:60px; margin: 0 0 0 0">
    <partial name="_DashboardPartial" />
    <div class="" style="">

       

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DateCheckOut)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.Home_Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </td>
                        <td>
                            <img decoding="async" src="@("~/Image/" + item.Book.ImageName)" asp-append-version="true" alt="ImageBook" style="max-height:300px;max-width:300px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCheckOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Home_Address)
                        </td>


                        <td>
                            <a asp-action="ChangeStatus" asp-route-id="@item.Id">Change Status</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>

    </div>
</div>
